.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
pnpm-workspace.yaml
pnpm-lock.yaml
package-lock.json
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
